openapi: 3.0.3
info:
  title: MyNotes NoxuNote API
  contact:
    name: Léo Rolland
    url: https://noxunote.fr/leorolland
    email: rolland.leo@orange.fr
  license:
    name: gpl-3.0
    url: https://www.gnu.org/licenses/gpl-3.0.txt
  version: "1.0"
  x-logo:
    url: https://noxunote.fr/prototype/assets/img/site-header-logo.png
externalDocs:
  description: External description
  url: https://api.noxunote.fr/docs/mynotes
servers:
- url: https://api.noxunote.fr/mynotes
paths:
  /notes:
    summary: All your note metadata
    get:
      tags: []
      summary: Get all your notes metadata
      operationId: getAllNoteMetadata
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: array
                example: ""
                items:
                  $ref: '#/components/schemas/NoteMetadata'
                x-content-type: application/json
              example: ""
          x-last-modified: 1595062837872
      x-swagger-router-controller: Default
    post:
      tags: []
      summary: Creates a new empty note
      operationId: createNewNote
      responses:
        "200":
          description: Success
          x-last-modified: 1595062709994
      x-swagger-router-controller: Default
    x-last-modified: 1594740636921
  /notes/{noteUUID}:
    summary: Id based note metadata
    get:
      tags: []
      summary: Get an already existing note metadata
      operationId: getNoteMetadataById
      parameters:
      - name: noteUUID
        in: path
        description: UUID of note to return
        required: true
        deprecated: false
        style: simple
        explode: false
        schema:
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          type: string
          format: uuid
        example: ""
        x-last-modified: 1595064519010
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteMetadata'
          x-last-modified: 1595062886178
        "404":
          description: note doesn't exist on your account
          x-last-modified: 1595063627287
      x-swagger-router-controller: Default
    put:
      tags: []
      summary: Update already existing note
      operationId: updateNoteMetadataById
      parameters:
      - name: noteUUID
        in: path
        required: true
        deprecated: false
        style: simple
        explode: false
        schema:
          $ref: '#/components/parameters/noteUUID'
        example: ""
        x-last-modified: 1595064569185
      requestBody:
        $ref: '#/components/requestBodies/NoteMetadata'
      responses:
        "200":
          description: success
          x-last-modified: 1595063497643
        "404":
          description: note doesn't exist on your account
          x-last-modified: 1595063683236
      x-swagger-router-controller: Default
    delete:
      tags: []
      summary: Delete an already existing note
      operationId: deleteNoteById
      parameters:
      - name: noteUUID
        in: path
        required: true
        deprecated: false
        style: simple
        explode: false
        schema:
          $ref: '#/components/parameters/noteUUID'
        example: ""
        x-last-modified: 1595064588319
      responses:
        "200":
          description: ok
          x-last-modified: 1595063538114
        "404":
          description: note doesn't exist on your account
          x-last-modified: 1595063697589
      x-swagger-router-controller: Default
    x-last-modified: 1594740651194
  /notes/{noteUUID}/content:
    summary: Id based note content
    get:
      tags: []
      summary: Get raw content of a note
      operationId: getNoteContentById
      parameters:
      - name: noteUUID
        in: path
        required: true
        deprecated: false
        style: simple
        explode: false
        schema:
          $ref: '#/components/parameters/noteUUID'
        example: ""
        x-last-modified: 1595064605656
      responses:
        "200":
          description: success
          content:
            application/json: {}
          x-last-modified: 1595063978471
        "404":
          description: note doesn't exist on your account
          x-last-modified: 1595063971815
      x-swagger-router-controller: Default
    put:
      tags: []
      summary: Update an already existing note content
      operationId: updateNoteContentById
      parameters:
      - name: noteUUID
        in: path
        required: true
        deprecated: false
        style: simple
        explode: false
        schema:
          $ref: '#/components/parameters/noteUUID'
        example: ""
        x-last-modified: 1595064623833
      requestBody:
        content:
          application/json: {}
        required: true
      responses:
        "200":
          description: success
          x-last-modified: 1595064125864
        "404":
          description: note doesn't exist on your account
          x-last-modified: 1595064132911
      x-swagger-router-controller: Default
    x-last-modified: 1594740661418
  /sharedNotes/:
    summary: Other's note shared with me
    get:
      tags: []
      summary: Get all notes other users shared with you
      operationId: getAllSharedNoteMetadata
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: array
                example: ""
                items:
                  $ref: '#/components/schemas/NoteMetadata'
                x-content-type: application/json
              example: ""
          x-last-modified: 1595064244239
      x-swagger-router-controller: Default
    x-last-modified: 1594740963115
  /sharedNotes/{noteUUID}:
    summary: Other's note shared with me
    get:
      tags: []
      summary: Get an already existing and shared with you note metadata
      operationId: getSharedNoteMetadataById
      parameters:
      - name: noteUUID
        in: path
        required: true
        deprecated: false
        style: simple
        explode: false
        schema:
          $ref: '#/components/parameters/noteUUID'
        example: ""
        x-last-modified: 1595064656706
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteMetadata'
          x-last-modified: 1595064968772
        "404":
          description: no note shared with you exists with this uuid
          x-last-modified: 1595064741564
      x-swagger-router-controller: Default
    x-last-modified: 1594741002087
  /sharedNotes/{noteUUID}/content:
    summary: Other's note shared with me
    get:
      tags: []
      summary: Get an already existing and shared with you note content
      operationId: getSharedNoteContentById
      parameters:
      - name: noteUUID
        in: path
        required: true
        deprecated: false
        style: simple
        explode: false
        schema:
          $ref: '#/components/parameters/noteUUID'
        example: ""
        x-last-modified: 1595065059595
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                example: ""
                x-content-type: application/json
              example: ""
          x-last-modified: 1595065086026
        "404":
          description: no note shared with you exists with this uuid
          x-last-modified: 1595065117494
      x-swagger-router-controller: Default
    put:
      summary: Update an already existing and shared with you note content
      operationId: updateSharedNoteContentById
      parameters:
      - name: noteUUID
        in: path
        required: true
        deprecated: false
        style: simple
        explode: false
        schema:
          $ref: '#/components/parameters/noteUUID'
        example: ""
        x-last-modified: 1595065147392
      responses:
        "200":
          description: success
          x-last-modified: 1595065156208
        "403":
          description: You don't have write permission on this note
          x-last-modified: 1595065179849
        "404":
          description: no existing note shared with you with this uuid
          x-last-modified: 1595065196402
      x-swagger-router-controller: Default
    x-last-modified: 1594741230002
components:
  schemas:
    NoteMetadata:
      required:
      - author
      - data
      - description
      - lastedit
      - title
      - uuid
      - version
      type: object
      properties:
        uuid:
          type: string
        title:
          type: string
        description:
          type: string
        author:
          type: string
        lastedit:
          type: string
        version:
          type: string
        data:
          type: object
      description: Métadonnées associées à une note
      example: ""
      x-last-modified: 1595062311235
  responses: {}
  parameters:
    noteUUID:
      name: noteUUID
      in: path
      description: UUID of note to return
      required: true
      deprecated: false
      style: simple
      explode: false
      schema:
        pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
        type: string
        format: uuid
      example: ""
      x-last-modified: 1595064519010
  requestBodies:
    NoteMetadata:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NoteMetadata'
      x-last-modified: 1595065652050
  securitySchemes: {}
